.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  padding: 30px;
  font-family: "Spartan", sans-serif;
}

.container {
  padding: 40px;
  border-radius: 1rem;
}

h1 {
  color: #502050;
  max-width: 17rem;
  font-weight: 700;
}

.overview p {
  color: #937b92;
}

.rank {
  color: #502050;
  background-color: #f7f2f7;
  border-radius: 1rem;
  font-weight: 700;
}

.user h4,
.text {
  color: white;
}

.user p {
  color: #ee68a4;
}

.user img {
  border-radius: 50%;
}

.card {
  background-color: #502050;
  padding: 40px 20px;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 320px;
  margin-right: 15px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name {
  margin-top: 0.8rem;
  margin-left: 1.5rem;
}

.text {
  margin-top: 1.5rem;
}

.avatar img {
  width: 55px;
  height: auto;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 100px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90rem;
    margin: 1rem auto;
    min-width: 1050px;
  }
  .overview {
    max-width: 50%;
  }
  .overview p {
    margin-top: 10px;
    margin-bottom: 5rem;
  }
  .ranking {
    max-width: 50%;
    margin-left: auto;
  }
  .feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6rem;
  }
  .card {
    max-width: 30%;
    max-height: 500px;
  }
  .card2 {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  .card3 {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  .feedback {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .rank1 {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  .rank2 {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  .rank {
    font-weight: 700;
    padding: 15px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .stars {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .overview h1,
  .overview p {
    margin: 0 auto;
  }
  .container {
    min-width: 30rem;
    max-width: 40rem;
    margin: 0 auto;
  }
  .overview h1 {
    margin-bottom: 2rem;
    text-align: center;
  }
  .overview p {
    margin-bottom: 3rem;
    text-align: center;
  }
  .rank {
    margin-bottom: 1.3rem;
    text-align: center;
    margin: 1.5rem auto;
    padding: 1rem;
  }
  .stars {
    padding-bottom: 1rem;
  }
  .rank3 {
    margin-bottom: 3rem;
  }
  .feedback {
    margin: 0 auto;
  }
  .card {
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */